@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body {
	font-family: 'hanna';
}
a {
   color: #000000;
   text-decoration: none;
}
a:hover {
   color: #bbbbbb;
   text-decoration: none;
   cursor: pointer;
}
.navbar-default {
   background-color: #000000;
   border-color: #000000;   
}
.navbar-default .navbar-brand {
   color: #ffffff;
}
.navbar-default .navbar-brand: hover,
.navbar-default .navbar-brand:focus {
   background-color: transparent;
   color: #bbbbbb;
}   
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
   color: white;
   background-color: #000000;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus{
   color: white;
   background-color: gary;
}
.row .list-group > .a {
	color:white;
}
.footer {
	background-color: black;
	color:white;
}